<h2>Members List</h2>
<a (click)="addMember" routerLink="/members/add">Add Member</a>
<form>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Age</th>
      <th>Address</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let member of members">
      <td>{{ member.id }}</td>
      <td>{{ member.name }}</td>
      <td>{{ member.age }}</td>
      <td>{{ member.address }}</td>
      <td>
        <a routerLink="/members/edit/{{ member.id }}">Edit</a>
        <button (click)="deleteMember(member.id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
</form>
